.action {
	width: 150px;
}

@media screen and (max-width: 400px) {
	.action {
		width: 20px;
	}
}

td * {
	vertical-align: middle;
}

.mandatory {
	color: #ff3131;
}

.login-image {
	background-image: url(../img/undraw_powerful_26ry.svg);
	background-position: center;
	background-size: cover;
}

.card-product-grid {
	margin-bottom: 20px;
	transition: all 0.2s ease-out;
}

.card-product-grid:hover {
	box-shadow: 0px 0px 15px #cacaca;
}

.card-product-grid::after {
	transition: all 0.2s ease-out;
}

.card-product-grid .img-wrap {
	border-radius: 0.2rem 0.2rem 0 0;
	height: 12rem;
	background-position: center;
	background-size: cover;
}

.text-menu {
	color: #4167D5;
	font-weight: 800;
	font-size: 20px;
}

.text-price {
	font-weight: 800;
	font-size: 16px;
	font-style: italic;
	color: #FA591D;
}

a:hover {
	text-decoration: none;
}
